<a href="https://colab.research.google.com/github/nessalemos/books/blob/main/books_datas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = "/content/todos_livros.csv"
books_info = pd.read_csv(url)

In [2]:
print('First Lines')
print(books_info.head())

print('Data infos')
print(books_info.info())

print('Null Datas')
print(books_info.isnull().sum())

First Lines
  Skoob                        Name    Score /5            Editora  \
0   Yes             O sol desvelado         NaN               Alef
1   Yes        Os robôs da alvorado         NaN               Alef
2   Yes             Robôs e Império         NaN               Alef
3   Yes           Loucos por Livros  ⭐️⭐️⭐️⭐️⭐️              Verus
4   Yes  E foi assim que tudo mudou    ⭐️⭐️⭐️⭐️  ‎ Astral Cultural

            Autor Genero Autor Nacionalidade     Lingua Terminado em:  \
0    Isaac Asimov        Homem         Russo  Portugues           NaN
1    Isaac Asimov        Homem         Russo  Portugues           NaN
2    Isaac Asimov        Homem         Russo  Portugues           NaN
3     Emily Henry       Mulher           Usa  Portugues    2023/11/12
4  Thais Bergmann       Mulher        Brasil  Portugues    2023/11/05

         Status  ... Serie  Ano Compra Formato             Genêro  \
0  Não começado  ...    No        2023  Fisico  Ficção Cientifica
1  Não começado  ...    No        2023  Fisico  Ficção Cientifica
2  Não começado  ...    No        2023  Fisico  Ficção Cientifica
3          Lido  ...    No        2023  Fisico            Romance
4          Lido  ...    No        2023  Fisico            Romance

        Nacional  Traduzido Doar Número de paginas total Minoria Cliche
0  Internacional  Traduzido   No                     NaN     NaN    NaN
1  Internacional  Traduzido   No                     NaN     NaN    NaN
2  Internacional  Traduzido   No                     NaN     NaN    NaN
3  Internacional  Traduzido   No                   434.0     NaN    NaN
4       Nacional         Na   No                   240.0     NaN    NaN

[5 rows x 26 columns]
Data infos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Skoob                    295 non-null    object
 1   Name                     295 non-null    object
 2   Score /5                 146 non-null    object
 3   Editora                  276 non-null    object
 4   Autor                    295 non-null    object
 5   Genero Autor             295 non-null    object
 6   Nacionalidade            295 non-null    object
 7   Lingua                   279 non-null    object
 8   Terminado em:            55 non-null     object
 9   Status                   276 non-null    object
 10  Tenho                    295 non-null    object
 11  Tentativas de leitura    19 non-null     float64
 12  Ku                       295 non-null    object
 13  Prime                    295 non-null    object
 14  HQ                       295 non-null    object
 15  Meta 2023                295 non-null    object
 16  Serie                    295 non-null    object
 17  Ano Compra               266 non-null    object
 18  Formato                  276 non-null    object
 19  Genêro                   275 non-null    object
 20  Nacional                 279 non-null    object
 21  Traduzido                245 non-null    object
 22  Doar                     295 non-null    object
 23  Número de paginas total  22 non-null     float64
 24  Minoria                  5 non-null      object
 25  Cliche                   1 non-null      object
dtypes: float64(2), object(24)
memory usage: 60.1+ KB
None
Null Datas
Skoob                        0
Name                         0
Score /5                   149
Editora                     19
Autor                        0
Genero Autor                 0
Nacionalidade                0
Lingua                      16
Terminado em:              240
Status                      19
Tenho                        0
Tentativas de leitura      276
Ku                           0
Prime                        0
HQ                           0
Meta 2023                    0
Serie                        0
Ano Compra                  29
Formato                     19
Genêro                      20
Nacional                    16
Traduzido                   50
Doar                         0
Número de paginas total    273
Minoria                    290
Cliche                     294
dtype: int64

In [3]:
filterEditoraNull = books_info.loc[books_info['Editora'].isnull()]
print(filterEditoraNull)

    Skoob                                     Name Score /5 Editora  \
92     No                         Once and for all      NaN     NaN
93     No                                 Infinity      NaN     NaN
104    No                                Dreamland      NaN     NaN
279    No                           Dança da morte      NaN     NaN
280    No                               Zona Morta      NaN     NaN
281    No                            A incendiaria      NaN     NaN
282    No                            Dança macabra      NaN     NaN
283    No                                     Cujo      NaN     NaN
284    No          Saga Torre Negra - O pistoleiro      NaN     NaN
285    No                          Quatro Estações      NaN     NaN
286    No                                Christine      NaN     NaN
287    No                              O cemiterio      NaN     NaN
288    No                                O talismã      NaN     NaN
289    No                               A maldição      NaN     NaN
290    No                      A hora do lobisomen      NaN     NaN
291    No                 Tripulação de esqueletos      NaN     NaN
292    No                             It - a coisa      NaN     NaN
293    No                       Os olhos do dragão      NaN     NaN
294    No  Saga da torre Negra - Terras devastadas      NaN     NaN

            Autor Genero Autor Nacionalidade  Lingua Terminado em: Status  \
92   Sarah Dessen       Mulher           Usa  Ingles           NaN    NaN
93   Sarah Dessen       Mulher           Usa  Ingles           NaN    NaN
104  Sarah Dessen       Mulher           Usa  Ingles           NaN    NaN
279  Stephen King        Homem           Usa     NaN           NaN    NaN
280  Stephen King        Homem           Usa     NaN           NaN    NaN
281  Stephen King        Homem           Usa     NaN           NaN    NaN
282  Stephen King        Homem           Usa     NaN           NaN    NaN
283  Stephen King        Homem           Usa     NaN           NaN    NaN
284  Stephen King        Homem           Usa     NaN           NaN    NaN
285  Stephen King        Homem           Usa     NaN           NaN    NaN
286  Stephen King        Homem           Usa     NaN           NaN    NaN
287  Stephen King        Homem           Usa     NaN           NaN    NaN
288  Stephen King        Homem           Usa     NaN           NaN    NaN
289  Stephen King        Homem           Usa     NaN           NaN    NaN
290  Stephen King        Homem           Usa     NaN           NaN    NaN
291  Stephen King        Homem           Usa     NaN           NaN    NaN
292  Stephen King        Homem           Usa     NaN           NaN    NaN
293  Stephen King        Homem           Usa     NaN           NaN    NaN
294  Stephen King        Homem           Usa     NaN           NaN    NaN

     ... Serie  Ano Compra Formato   Genêro       Nacional      Traduzido  \
92   ...    No         NaN     NaN  Romance  Internacional  Não Traduzido
93   ...    No         NaN     NaN  Romance  Internacional  Não Traduzido
104  ...    No         NaN     NaN  Romance  Internacional  Não Traduzido
279  ...    No         NaN     NaN      NaN            NaN            NaN
280  ...    No         NaN     NaN      NaN            NaN            NaN
281  ...    No         NaN     NaN      NaN            NaN            NaN
282  ...    No         NaN     NaN      NaN            NaN            NaN
283  ...    No         NaN     NaN      NaN            NaN            NaN
284  ...    No         NaN     NaN      NaN            NaN            NaN
285  ...    No         NaN     NaN      NaN            NaN            NaN
286  ...    No         NaN     NaN      NaN            NaN            NaN
287  ...    No         NaN     NaN      NaN            NaN            NaN
288  ...    No         NaN     NaN      NaN            NaN            NaN
289  ...    No         NaN     NaN      NaN            NaN            NaN
290  ...    No         NaN     NaN      NaN            NaN            NaN
291  ...    No         NaN     NaN      NaN            NaN            NaN
292  ...    No         NaN     NaN      NaN            NaN            NaN
293  ...    No         NaN     NaN      NaN            NaN            NaN
294  ...    No         NaN     NaN      NaN            NaN            NaN

    Doar Número de paginas total Minoria Cliche
92    No                     NaN     NaN    NaN
93    No                     NaN     NaN    NaN
104   No                     NaN     NaN    NaN
279   No                     NaN     NaN    NaN
280   No                     NaN     NaN    NaN
281   No                     NaN     NaN    NaN
282   No                     NaN     NaN    NaN
283   No                     NaN     NaN    NaN
284   No                     NaN     NaN    NaN
285   No                     NaN     NaN    NaN
286   No                     NaN     NaN    NaN
287   No                     NaN     NaN    NaN
288   No                     NaN     NaN    NaN
289   No                     NaN     NaN    NaN
290   No                     NaN     NaN    NaN
291   No                     NaN     NaN    NaN
292   No                     NaN     NaN    NaN
293   No                     NaN     NaN    NaN
294   No                     NaN     NaN    NaN

[19 rows x 26 columns]

In [4]:
def fillEditora(autor, editora):
  books_info.loc[(books_info['Autor'] == autor) & (books_info['Editora'].isnull()), 'Editora'] = editora

In [5]:
def findAutor(autor):
  print(books_info[books_info['Autor'] == autor])

In [6]:
fillEditora('Stephen King', 'Suma')
findAutor('Stephen King')

    Skoob                                     Name    Score /5 Editora  \
9     Yes                                  Joyland      ⭐️⭐️⭐️    Suma
67    Yes                   Misery: Louca obsessão         NaN    Suma
81    Yes                              O Iluminado         NaN    Suma
123   Yes                                   Carrie  ⭐️⭐️⭐️⭐️⭐️    Suma
127    No                                    Salem         NaN    Suma
279    No                           Dança da morte         NaN    Suma
280    No                               Zona Morta         NaN    Suma
281    No                            A incendiaria         NaN    Suma
282    No                            Dança macabra         NaN    Suma
283    No                                     Cujo         NaN    Suma
284    No          Saga Torre Negra - O pistoleiro         NaN    Suma
285    No                          Quatro Estações         NaN    Suma
286    No                                Christine         NaN    Suma
287    No                              O cemiterio         NaN    Suma
288    No                                O talismã         NaN    Suma
289    No                               A maldição         NaN    Suma
290    No                      A hora do lobisomen         NaN    Suma
291    No                 Tripulação de esqueletos         NaN    Suma
292    No                             It - a coisa         NaN    Suma
293    No                       Os olhos do dragão         NaN    Suma
294    No  Saga da torre Negra - Terras devastadas         NaN    Suma

            Autor Genero Autor Nacionalidade     Lingua Terminado em:  \
9    Stephen King        Homem           Usa  Portugues    2023/04/16
67   Stephen King        Homem           Usa  Portugues           NaN
81   Stephen King        Homem           Usa  Portugues           NaN
123  Stephen King        Homem           Usa  Portugues    2024/01/12
127  Stephen King        Homem           Usa  Portugues           NaN
279  Stephen King        Homem           Usa        NaN           NaN
280  Stephen King        Homem           Usa        NaN           NaN
281  Stephen King        Homem           Usa        NaN           NaN
282  Stephen King        Homem           Usa        NaN           NaN
283  Stephen King        Homem           Usa        NaN           NaN
284  Stephen King        Homem           Usa        NaN           NaN
285  Stephen King        Homem           Usa        NaN           NaN
286  Stephen King        Homem           Usa        NaN           NaN
287  Stephen King        Homem           Usa        NaN           NaN
288  Stephen King        Homem           Usa        NaN           NaN
289  Stephen King        Homem           Usa        NaN           NaN
290  Stephen King        Homem           Usa        NaN           NaN
291  Stephen King        Homem           Usa        NaN           NaN
292  Stephen King        Homem           Usa        NaN           NaN
293  Stephen King        Homem           Usa        NaN           NaN
294  Stephen King        Homem           Usa        NaN           NaN

           Status  ... Serie  Ano Compra Formato    Genêro       Nacional  \
9            Lido  ...    No        2022  Fisico  Suspense  Internacional
67       Em pausa  ...    No        2023  Fisico  Suspense  Internacional
81   Não começado  ...    No        2022  Fisico  Suspense  Internacional
123          Lido  ...    No        2024  Fisico  Suspense  Internacional
127      Em pausa  ...    No        2024  Fisico  Suspense  Internacional
279           NaN  ...    No         NaN     NaN       NaN            NaN
280           NaN  ...    No         NaN     NaN       NaN            NaN
281           NaN  ...    No         NaN     NaN       NaN            NaN
282           NaN  ...    No         NaN     NaN       NaN            NaN
283           NaN  ...    No         NaN     NaN       NaN            NaN
284           NaN  ...    No         NaN     NaN       NaN            NaN
285           NaN  ...    No         NaN     NaN       NaN            NaN
286           NaN  ...    No         NaN     NaN       NaN            NaN
287           NaN  ...    No         NaN     NaN       NaN            NaN
288           NaN  ...    No         NaN     NaN       NaN            NaN
289           NaN  ...    No         NaN     NaN       NaN            NaN
290           NaN  ...    No         NaN     NaN       NaN            NaN
291           NaN  ...    No         NaN     NaN       NaN            NaN
292           NaN  ...    No         NaN     NaN       NaN            NaN
293           NaN  ...    No         NaN     NaN       NaN            NaN
294           NaN  ...    No         NaN     NaN       NaN            NaN

     Traduzido Doar Número de paginas total Minoria Cliche
9    Traduzido   No                     NaN     NaN    NaN
67   Traduzido   No                     NaN     NaN    NaN
81   Traduzido   No                     NaN     NaN    NaN
123  Traduzido   No                   200.0     NaN    NaN
127  Traduzido   No                   464.0     NaN    NaN
279        NaN   No                     NaN     NaN    NaN
280        NaN   No                     NaN     NaN    NaN
281        NaN   No                     NaN     NaN    NaN
282        NaN   No                     NaN     NaN    NaN
283        NaN   No                     NaN     NaN    NaN
284        NaN   No                     NaN     NaN    NaN
285        NaN   No                     NaN     NaN    NaN
286        NaN   No                     NaN     NaN    NaN
287        NaN   No                     NaN     NaN    NaN
288        NaN   No                     NaN     NaN    NaN
289        NaN   No                     NaN     NaN    NaN
290        NaN   No                     NaN     NaN    NaN
291        NaN   No                     NaN     NaN    NaN
292        NaN   No                     NaN     NaN    NaN
293        NaN   No                     NaN     NaN    NaN
294        NaN   No                     NaN     NaN    NaN

[21 rows x 26 columns]

In [7]:
fillEditora('Sarah Dessen', 'Penguin')
findAutor('Sarah Dessen')

    Skoob                       Name    Score /5                Editora  \
18    Yes         A caminho do verão    ⭐️⭐️⭐️⭐️                     Id
24    Yes        O resto da historia    ⭐️⭐️⭐️⭐️        ‎ HarperCollins
85    Yes           Someone Like You         NaN       Turtleback Books
86    Yes    The Truth About Forever         NaN  ‎ Perfection Learning
87    Yes  O Que Aconteceu com Adeus         NaN                     Id
88    Yes                  Só escute  ⭐️⭐️⭐️⭐️⭐️               Seguinte
89    Yes        Uma Canção de Ninar  ⭐️⭐️⭐️⭐️⭐️               Seguinte
90    Yes           Os bons segredos  ⭐️⭐️⭐️⭐️⭐️               Seguinte
91     No               Lock And Key         NaN                  Speak
92     No           Once and for all         NaN                Penguin
93     No                   Infinity         NaN                Penguin
94     No          The Moon And More         NaN                  Speak
95     No          Keepping The Moon         NaN                  Speak
104    No                  Dreamland         NaN                Penguin
230   Yes               Aquele verão         NaN                     Id

            Autor Genero Autor Nacionalidade     Lingua Terminado em:  \
18   Sarah Dessen       Mulher           Usa  Portugues    2022/04/14
24   Sarah Dessen       Mulher           Usa  Portugues    2022/01/29
85   Sarah Dessen       Mulher           Usa     Ingles           NaN
86   Sarah Dessen       Mulher           Usa     Ingles           NaN
87   Sarah Dessen       Mulher           Usa  Portugues           NaN
88   Sarah Dessen       Mulher           Usa  Portugues           NaN
89   Sarah Dessen       Mulher           Usa  Portugues           NaN
90   Sarah Dessen       Mulher           Usa  Portugues           NaN
91   Sarah Dessen       Mulher           Usa     Ingles           NaN
92   Sarah Dessen       Mulher           Usa     Ingles           NaN
93   Sarah Dessen       Mulher           Usa     Ingles           NaN
94   Sarah Dessen       Mulher           Usa     Ingles           NaN
95   Sarah Dessen       Mulher           Usa     Ingles           NaN
104  Sarah Dessen       Mulher           Usa     Ingles           NaN
230  Sarah Dessen       Mulher           Usa  Portugues           NaN

           Status  ... Serie  Ano Compra Formato   Genêro       Nacional  \
18           Lido  ...    No        2022  Fisico  Romance  Internacional
24           Lido  ...    No        2022   Ebook  Romance  Internacional
85   Não começado  ...    No        2022  Fisico  Romance  Internacional
86   Não começado  ...    No        2022  Fisico  Romance  Internacional
87   Não começado  ...    No        2022  Fisico  Romance  Internacional
88           Lido  ...    No        2017  Fisico  Romance  Internacional
89           Lido  ...    No        2016  Fisico  Romance  Internacional
90           Lido  ...    No        2019  Fisico  Romance  Internacional
91   Não começado  ...    No         NaN  Fisico  Romance  Internacional
92            NaN  ...    No         NaN     NaN  Romance  Internacional
93            NaN  ...    No         NaN     NaN  Romance  Internacional
94   Não começado  ...    No         NaN  Fisico  Romance  Internacional
95   Não começado  ...    No         NaN  Fisico  Romance  Internacional
104           NaN  ...    No         NaN     NaN  Romance  Internacional
230      Em pausa  ...    No        2022  Fisico  Romance  Internacional

         Traduzido Doar Número de paginas total Minoria Cliche
18       Traduzido   No                     NaN     NaN    NaN
24       Traduzido   No                     NaN     NaN    NaN
85   Não Traduzido   No                     NaN     NaN    NaN
86   Não Traduzido   No                     NaN     NaN    NaN
87       Traduzido   No                     NaN     NaN    NaN
88       Traduzido   No                     NaN     NaN    NaN
89       Traduzido   No                     NaN     NaN    NaN
90       Traduzido   No                     NaN     NaN    NaN
91   Não Traduzido   No                     NaN     NaN    NaN
92   Não Traduzido   No                     NaN     NaN    NaN
93   Não Traduzido   No                     NaN     NaN    NaN
94   Não Traduzido   No                     NaN     NaN    NaN
95   Não Traduzido   No                     NaN     NaN    NaN
104  Não Traduzido   No                     NaN     NaN    NaN
230      Traduzido   No                     NaN     NaN    NaN

[15 rows x 26 columns]

In [8]:
filterLanguageNull = books_info.loc[books_info['Lingua'].isnull()]
print(filterLanguageNull)

    Skoob                                     Name Score /5 Editora  \
279    No                           Dança da morte      NaN    Suma
280    No                               Zona Morta      NaN    Suma
281    No                            A incendiaria      NaN    Suma
282    No                            Dança macabra      NaN    Suma
283    No                                     Cujo      NaN    Suma
284    No          Saga Torre Negra - O pistoleiro      NaN    Suma
285    No                          Quatro Estações      NaN    Suma
286    No                                Christine      NaN    Suma
287    No                              O cemiterio      NaN    Suma
288    No                                O talismã      NaN    Suma
289    No                               A maldição      NaN    Suma
290    No                      A hora do lobisomen      NaN    Suma
291    No                 Tripulação de esqueletos      NaN    Suma
292    No                             It - a coisa      NaN    Suma
293    No                       Os olhos do dragão      NaN    Suma
294    No  Saga da torre Negra - Terras devastadas      NaN    Suma

            Autor Genero Autor Nacionalidade Lingua Terminado em: Status  ...  \
279  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
280  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
281  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
282  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
283  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
284  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
285  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
286  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
287  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
288  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
289  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
290  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
291  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
292  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
293  Stephen King        Homem           Usa    NaN           NaN    NaN  ...
294  Stephen King        Homem           Usa    NaN           NaN    NaN  ...

    Serie  Ano Compra Formato Genêro Nacional Traduzido Doar  \
279    No         NaN     NaN    NaN      NaN       NaN   No
280    No         NaN     NaN    NaN      NaN       NaN   No
281    No         NaN     NaN    NaN      NaN       NaN   No
282    No         NaN     NaN    NaN      NaN       NaN   No
283    No         NaN     NaN    NaN      NaN       NaN   No
284    No         NaN     NaN    NaN      NaN       NaN   No
285    No         NaN     NaN    NaN      NaN       NaN   No
286    No         NaN     NaN    NaN      NaN       NaN   No
287    No         NaN     NaN    NaN      NaN       NaN   No
288    No         NaN     NaN    NaN      NaN       NaN   No
289    No         NaN     NaN    NaN      NaN       NaN   No
290    No         NaN     NaN    NaN      NaN       NaN   No
291    No         NaN     NaN    NaN      NaN       NaN   No
292    No         NaN     NaN    NaN      NaN       NaN   No
293    No         NaN     NaN    NaN      NaN       NaN   No
294    No         NaN     NaN    NaN      NaN       NaN   No

    Número de paginas total Minoria Cliche
279                     NaN     NaN    NaN
280                     NaN     NaN    NaN
281                     NaN     NaN    NaN
282                     NaN     NaN    NaN
283                     NaN     NaN    NaN
284                     NaN     NaN    NaN
285                     NaN     NaN    NaN
286                     NaN     NaN    NaN
287                     NaN     NaN    NaN
288                     NaN     NaN    NaN
289                     NaN     NaN    NaN
290                     NaN     NaN    NaN
291                     NaN     NaN    NaN
292                     NaN     NaN    NaN
293                     NaN     NaN    NaN
294                     NaN     NaN    NaN

[16 rows x 26 columns]

In [9]:
def fillLanguage(autor, language):
  books_info.loc[(books_info['Autor'] == autor) & (books_info['Lingua'].isnull()), "Lingua"] = language

In [10]:
fillLanguage('Stephen King', 'Portugues')
findAutor('Stephen King')

    Skoob                                     Name    Score /5 Editora  \
9     Yes                                  Joyland      ⭐️⭐️⭐️    Suma
67    Yes                   Misery: Louca obsessão         NaN    Suma
81    Yes                              O Iluminado         NaN    Suma
123   Yes                                   Carrie  ⭐️⭐️⭐️⭐️⭐️    Suma
127    No                                    Salem         NaN    Suma
279    No                           Dança da morte         NaN    Suma
280    No                               Zona Morta         NaN    Suma
281    No                            A incendiaria         NaN    Suma
282    No                            Dança macabra         NaN    Suma
283    No                                     Cujo         NaN    Suma
284    No          Saga Torre Negra - O pistoleiro         NaN    Suma
285    No                          Quatro Estações         NaN    Suma
286    No                                Christine         NaN    Suma
287    No                              O cemiterio         NaN    Suma
288    No                                O talismã         NaN    Suma
289    No                               A maldição         NaN    Suma
290    No                      A hora do lobisomen         NaN    Suma
291    No                 Tripulação de esqueletos         NaN    Suma
292    No                             It - a coisa         NaN    Suma
293    No                       Os olhos do dragão         NaN    Suma
294    No  Saga da torre Negra - Terras devastadas         NaN    Suma

            Autor Genero Autor Nacionalidade     Lingua Terminado em:  \
9    Stephen King        Homem           Usa  Portugues    2023/04/16
67   Stephen King        Homem           Usa  Portugues           NaN
81   Stephen King        Homem           Usa  Portugues           NaN
123  Stephen King        Homem           Usa  Portugues    2024/01/12
127  Stephen King        Homem           Usa  Portugues           NaN
279  Stephen King        Homem           Usa  Portugues           NaN
280  Stephen King        Homem           Usa  Portugues           NaN
281  Stephen King        Homem           Usa  Portugues           NaN
282  Stephen King        Homem           Usa  Portugues           NaN
283  Stephen King        Homem           Usa  Portugues           NaN
284  Stephen King        Homem           Usa  Portugues           NaN
285  Stephen King        Homem           Usa  Portugues           NaN
286  Stephen King        Homem           Usa  Portugues           NaN
287  Stephen King        Homem           Usa  Portugues           NaN
288  Stephen King        Homem           Usa  Portugues           NaN
289  Stephen King        Homem           Usa  Portugues           NaN
290  Stephen King        Homem           Usa  Portugues           NaN
291  Stephen King        Homem           Usa  Portugues           NaN
292  Stephen King        Homem           Usa  Portugues           NaN
293  Stephen King        Homem           Usa  Portugues           NaN
294  Stephen King        Homem           Usa  Portugues           NaN

           Status  ... Serie  Ano Compra Formato    Genêro       Nacional  \
9            Lido  ...    No        2022  Fisico  Suspense  Internacional
67       Em pausa  ...    No        2023  Fisico  Suspense  Internacional
81   Não começado  ...    No        2022  Fisico  Suspense  Internacional
123          Lido  ...    No        2024  Fisico  Suspense  Internacional
127      Em pausa  ...    No        2024  Fisico  Suspense  Internacional
279           NaN  ...    No         NaN     NaN       NaN            NaN
280           NaN  ...    No         NaN     NaN       NaN            NaN
281           NaN  ...    No         NaN     NaN       NaN            NaN
282           NaN  ...    No         NaN     NaN       NaN            NaN
283           NaN  ...    No         NaN     NaN       NaN            NaN
284           NaN  ...    No         NaN     NaN       NaN            NaN
285           NaN  ...    No         NaN     NaN       NaN            NaN
286           NaN  ...    No         NaN     NaN       NaN            NaN
287           NaN  ...    No         NaN     NaN       NaN            NaN
288           NaN  ...    No         NaN     NaN       NaN            NaN
289           NaN  ...    No         NaN     NaN       NaN            NaN
290           NaN  ...    No         NaN     NaN       NaN            NaN
291           NaN  ...    No         NaN     NaN       NaN            NaN
292           NaN  ...    No         NaN     NaN       NaN            NaN
293           NaN  ...    No         NaN     NaN       NaN            NaN
294           NaN  ...    No         NaN     NaN       NaN            NaN

     Traduzido Doar Número de paginas total Minoria Cliche
9    Traduzido   No                     NaN     NaN    NaN
67   Traduzido   No                     NaN     NaN    NaN
81   Traduzido   No                     NaN     NaN    NaN
123  Traduzido   No                   200.0     NaN    NaN
127  Traduzido   No                   464.0     NaN    NaN
279        NaN   No                     NaN     NaN    NaN
280        NaN   No                     NaN     NaN    NaN
281        NaN   No                     NaN     NaN    NaN
282        NaN   No                     NaN     NaN    NaN
283        NaN   No                     NaN     NaN    NaN
284        NaN   No                     NaN     NaN    NaN
285        NaN   No                     NaN     NaN    NaN
286        NaN   No                     NaN     NaN    NaN
287        NaN   No                     NaN     NaN    NaN
288        NaN   No                     NaN     NaN    NaN
289        NaN   No                     NaN     NaN    NaN
290        NaN   No                     NaN     NaN    NaN
291        NaN   No                     NaN     NaN    NaN
292        NaN   No                     NaN     NaN    NaN
293        NaN   No                     NaN     NaN    NaN
294        NaN   No                     NaN     NaN    NaN

[21 rows x 26 columns]

In [11]:
def fillStatus():
  books_info.loc[books_info['Status'].isnull(), 'Status'] = 'Não começado'

In [12]:
fillStatus()
print(books_info.loc[books_info['Status'].isnull()])

Empty DataFrame
Columns: [Skoob, Name, Score /5, Editora, Autor, Genero Autor, Nacionalidade, Lingua, Terminado em:, Status, Tenho, Tentativas de leitura, Ku, Prime, HQ, Meta 2023, Serie, Ano Compra, Formato, Genêro, Nacional, Traduzido, Doar, Número de paginas total, Minoria, Cliche]
Index: []

[0 rows x 26 columns]

In [13]:
def format_text_columns(columns):
    for col in columns:
        books_info[col] = books_info[col].str.strip().str.title()
    return books_info

In [16]:
print(format_text_columns(['Autor', 'Editora', 'Name', 'Genero Autor','Nacionalidade', 'Lingua', 'Minoria', 'Cliche']))

    Skoob                                     Name    Score /5  \
0     Yes                          O Sol Desvelado         NaN
1     Yes                     Os Robôs Da Alvorado         NaN
2     Yes                          Robôs E Império         NaN
3     Yes                        Loucos Por Livros  ⭐️⭐️⭐️⭐️⭐️
4     Yes               E Foi Assim Que Tudo Mudou    ⭐️⭐️⭐️⭐️
..    ...                                      ...         ...
290    No                      A Hora Do Lobisomen         NaN
291    No                 Tripulação De Esqueletos         NaN
292    No                             It - A Coisa         NaN
293    No                       Os Olhos Do Dragão         NaN
294    No  Saga Da Torre Negra - Terras Devastadas         NaN

               Editora           Autor Genero Autor Nacionalidade     Lingua  \
0                 Alef    Isaac Asimov        Homem         Russo  Portugues
1                 Alef    Isaac Asimov        Homem         Russo  Portugues
2                 Alef    Isaac Asimov        Homem         Russo  Portugues
3                Verus     Emily Henry       Mulher           Usa  Portugues
4    ‎ Astral Cultural  Thais Bergmann       Mulher        Brasil  Portugues
..                 ...             ...          ...           ...        ...
290               Suma    Stephen King        Homem           Usa  Portugues
291               Suma    Stephen King        Homem           Usa  Portugues
292               Suma    Stephen King        Homem           Usa  Portugues
293               Suma    Stephen King        Homem           Usa  Portugues
294               Suma    Stephen King        Homem           Usa  Portugues

    Terminado em:        Status  ... Serie  Ano Compra Formato  \
0             NaN  Não começado  ...    No        2023  Fisico
1             NaN  Não começado  ...    No        2023  Fisico
2             NaN  Não começado  ...    No        2023  Fisico
3      2023/11/12          Lido  ...    No        2023  Fisico
4      2023/11/05          Lido  ...    No        2023  Fisico
..            ...           ...  ...   ...         ...     ...
290           NaN  Não começado  ...    No         NaN     NaN
291           NaN  Não começado  ...    No         NaN     NaN
292           NaN  Não começado  ...    No         NaN     NaN
293           NaN  Não começado  ...    No         NaN     NaN
294           NaN  Não começado  ...    No         NaN     NaN

                Genêro       Nacional  Traduzido Doar Número de paginas total  \
0    Ficção Cientifica  Internacional  Traduzido   No                     NaN
1    Ficção Cientifica  Internacional  Traduzido   No                     NaN
2    Ficção Cientifica  Internacional  Traduzido   No                     NaN
3              Romance  Internacional  Traduzido   No                   434.0
4              Romance       Nacional         Na   No                   240.0
..                 ...            ...        ...  ...                     ...
290                NaN            NaN        NaN   No                     NaN
291                NaN            NaN        NaN   No                     NaN
292                NaN            NaN        NaN   No                     NaN
293                NaN            NaN        NaN   No                     NaN
294                NaN            NaN        NaN   No                     NaN

    Minoria Cliche
0       NaN    NaN
1       NaN    NaN
2       NaN    NaN
3       NaN    NaN
4       NaN    NaN
..      ...    ...
290     NaN    NaN
291     NaN    NaN
292     NaN    NaN
293     NaN    NaN
294     NaN    NaN

[295 rows x 26 columns]

In [18]:
books_info = books_info.drop_duplicates(subset=['Name', 'Autor'])
print(books_info)

    Skoob                                     Name    Score /5  \
0     Yes                          O Sol Desvelado         NaN
1     Yes                     Os Robôs Da Alvorado         NaN
2     Yes                          Robôs E Império         NaN
3     Yes                        Loucos Por Livros  ⭐️⭐️⭐️⭐️⭐️
4     Yes               E Foi Assim Que Tudo Mudou    ⭐️⭐️⭐️⭐️
..    ...                                      ...         ...
290    No                      A Hora Do Lobisomen         NaN
291    No                 Tripulação De Esqueletos         NaN
292    No                             It - A Coisa         NaN
293    No                       Os Olhos Do Dragão         NaN
294    No  Saga Da Torre Negra - Terras Devastadas         NaN

               Editora           Autor Genero Autor Nacionalidade     Lingua  \
0                 Alef    Isaac Asimov        Homem         Russo  Portugues
1                 Alef    Isaac Asimov        Homem         Russo  Portugues
2                 Alef    Isaac Asimov        Homem         Russo  Portugues
3                Verus     Emily Henry       Mulher           Usa  Portugues
4    ‎ Astral Cultural  Thais Bergmann       Mulher        Brasil  Portugues
..                 ...             ...          ...           ...        ...
290               Suma    Stephen King        Homem           Usa  Portugues
291               Suma    Stephen King        Homem           Usa  Portugues
292               Suma    Stephen King        Homem           Usa  Portugues
293               Suma    Stephen King        Homem           Usa  Portugues
294               Suma    Stephen King        Homem           Usa  Portugues

    Terminado em:        Status  ... Serie  Ano Compra Formato  \
0             NaN  Não começado  ...    No        2023  Fisico
1             NaN  Não começado  ...    No        2023  Fisico
2             NaN  Não começado  ...    No        2023  Fisico
3      2023/11/12          Lido  ...    No        2023  Fisico
4      2023/11/05          Lido  ...    No        2023  Fisico
..            ...           ...  ...   ...         ...     ...
290           NaN  Não começado  ...    No         NaN     NaN
291           NaN  Não começado  ...    No         NaN     NaN
292           NaN  Não começado  ...    No         NaN     NaN
293           NaN  Não começado  ...    No         NaN     NaN
294           NaN  Não começado  ...    No         NaN     NaN

                Genêro       Nacional  Traduzido Doar Número de paginas total  \
0    Ficção Cientifica  Internacional  Traduzido   No                     NaN
1    Ficção Cientifica  Internacional  Traduzido   No                     NaN
2    Ficção Cientifica  Internacional  Traduzido   No                     NaN
3              Romance  Internacional  Traduzido   No                   434.0
4              Romance       Nacional         Na   No                   240.0
..                 ...            ...        ...  ...                     ...
290                NaN            NaN        NaN   No                     NaN
291                NaN            NaN        NaN   No                     NaN
292                NaN            NaN        NaN   No                     NaN
293                NaN            NaN        NaN   No                     NaN
294                NaN            NaN        NaN   No                     NaN

    Minoria Cliche
0       NaN    NaN
1       NaN    NaN
2       NaN    NaN
3       NaN    NaN
4       NaN    NaN
..      ...    ...
290     NaN    NaN
291     NaN    NaN
292     NaN    NaN
293     NaN    NaN
294     NaN    NaN

[295 rows x 26 columns]

In [19]:
books_info['Terminado em:'] = pd.to_datetime(books_info['Terminado em:'], errors='coerce')
print(books_info)

    Skoob                                     Name    Score /5  \
0     Yes                          O Sol Desvelado         NaN
1     Yes                     Os Robôs Da Alvorado         NaN
2     Yes                          Robôs E Império         NaN
3     Yes                        Loucos Por Livros  ⭐️⭐️⭐️⭐️⭐️
4     Yes               E Foi Assim Que Tudo Mudou    ⭐️⭐️⭐️⭐️
..    ...                                      ...         ...
290    No                      A Hora Do Lobisomen         NaN
291    No                 Tripulação De Esqueletos         NaN
292    No                             It - A Coisa         NaN
293    No                       Os Olhos Do Dragão         NaN
294    No  Saga Da Torre Negra - Terras Devastadas         NaN

               Editora           Autor Genero Autor Nacionalidade     Lingua  \
0                 Alef    Isaac Asimov        Homem         Russo  Portugues
1                 Alef    Isaac Asimov        Homem         Russo  Portugues
2                 Alef    Isaac Asimov        Homem         Russo  Portugues
3                Verus     Emily Henry       Mulher           Usa  Portugues
4    ‎ Astral Cultural  Thais Bergmann       Mulher        Brasil  Portugues
..                 ...             ...          ...           ...        ...
290               Suma    Stephen King        Homem           Usa  Portugues
291               Suma    Stephen King        Homem           Usa  Portugues
292               Suma    Stephen King        Homem           Usa  Portugues
293               Suma    Stephen King        Homem           Usa  Portugues
294               Suma    Stephen King        Homem           Usa  Portugues

    Terminado em:        Status  ... Serie  Ano Compra Formato  \
0             NaT  Não começado  ...    No        2023  Fisico
1             NaT  Não começado  ...    No        2023  Fisico
2             NaT  Não começado  ...    No        2023  Fisico
3      2023-11-12          Lido  ...    No        2023  Fisico
4      2023-11-05          Lido  ...    No        2023  Fisico
..            ...           ...  ...   ...         ...     ...
290           NaT  Não começado  ...    No         NaN     NaN
291           NaT  Não começado  ...    No         NaN     NaN
292           NaT  Não começado  ...    No         NaN     NaN
293           NaT  Não começado  ...    No         NaN     NaN
294           NaT  Não começado  ...    No         NaN     NaN

                Genêro       Nacional  Traduzido Doar Número de paginas total  \
0    Ficção Cientifica  Internacional  Traduzido   No                     NaN
1    Ficção Cientifica  Internacional  Traduzido   No                     NaN
2    Ficção Cientifica  Internacional  Traduzido   No                     NaN
3              Romance  Internacional  Traduzido   No                   434.0
4              Romance       Nacional         Na   No                   240.0
..                 ...            ...        ...  ...                     ...
290                NaN            NaN        NaN   No                     NaN
291                NaN            NaN        NaN   No                     NaN
292                NaN            NaN        NaN   No                     NaN
293                NaN            NaN        NaN   No                     NaN
294                NaN            NaN        NaN   No                     NaN

    Minoria Cliche
0       NaN    NaN
1       NaN    NaN
2       NaN    NaN
3       NaN    NaN
4       NaN    NaN
..      ...    ...
290     NaN    NaN
291     NaN    NaN
292     NaN    NaN
293     NaN    NaN
294     NaN    NaN

[295 rows x 26 columns]

In [21]:
books_info['Ano terminado'] = books_info['Terminado em:'].dt.year

In [22]:
books_info.columns = books_info.columns.str.strip().str.replace(' ', '_').str.lower()

In [25]:
print(books_info)

    skoob                                   titulo    score_/5  \
0     Yes                          O Sol Desvelado         NaN
1     Yes                     Os Robôs Da Alvorado         NaN
2     Yes                          Robôs E Império         NaN
3     Yes                        Loucos Por Livros  ⭐️⭐️⭐️⭐️⭐️
4     Yes               E Foi Assim Que Tudo Mudou    ⭐️⭐️⭐️⭐️
..    ...                                      ...         ...
290    No                      A Hora Do Lobisomen         NaN
291    No                 Tripulação De Esqueletos         NaN
292    No                             It - A Coisa         NaN
293    No                       Os Olhos Do Dragão         NaN
294    No  Saga Da Torre Negra - Terras Devastadas         NaN

               editora           autor genero_autor nacionalidade     lingua  \
0                 Alef    Isaac Asimov        Homem         Russo  Portugues
1                 Alef    Isaac Asimov        Homem         Russo  Portugues
2                 Alef    Isaac Asimov        Homem         Russo  Portugues
3                Verus     Emily Henry       Mulher           Usa  Portugues
4    ‎ Astral Cultural  Thais Bergmann       Mulher        Brasil  Portugues
..                 ...             ...          ...           ...        ...
290               Suma    Stephen King        Homem           Usa  Portugues
291               Suma    Stephen King        Homem           Usa  Portugues
292               Suma    Stephen King        Homem           Usa  Portugues
293               Suma    Stephen King        Homem           Usa  Portugues
294               Suma    Stephen King        Homem           Usa  Portugues

    terminado_em:        status  ... ano_compra  formato             genêro  \
0             NaT  Não começado  ...       2023   Fisico  Ficção Cientifica
1             NaT  Não começado  ...       2023   Fisico  Ficção Cientifica
2             NaT  Não começado  ...       2023   Fisico  Ficção Cientifica
3      2023-11-12          Lido  ...       2023   Fisico            Romance
4      2023-11-05          Lido  ...       2023   Fisico            Romance
..            ...           ...  ...        ...      ...                ...
290           NaT  Não começado  ...        NaN      NaN                NaN
291           NaT  Não começado  ...        NaN      NaN                NaN
292           NaT  Não começado  ...        NaN      NaN                NaN
293           NaT  Não começado  ...        NaN      NaN                NaN
294           NaT  Não começado  ...        NaN      NaN                NaN

          nacional  traduzido doar número_de_paginas_total minoria cliche  \
0    Internacional  Traduzido   No                     NaN     NaN    NaN
1    Internacional  Traduzido   No                     NaN     NaN    NaN
2    Internacional  Traduzido   No                     NaN     NaN    NaN
3    Internacional  Traduzido   No                   434.0     NaN    NaN
4         Nacional         Na   No                   240.0     NaN    NaN
..             ...        ...  ...                     ...     ...    ...
290            NaN        NaN   No                     NaN     NaN    NaN
291            NaN        NaN   No                     NaN     NaN    NaN
292            NaN        NaN   No                     NaN     NaN    NaN
293            NaN        NaN   No                     NaN     NaN    NaN
294            NaN        NaN   No                     NaN     NaN    NaN

    ano_terminado
0             NaN
1             NaN
2             NaN
3          2023.0
4          2023.0
..            ...
290           NaN
291           NaN
292           NaN
293           NaN
294           NaN

[295 rows x 27 columns]

In [24]:
books_info = books_info.rename(columns={'name': 'titulo'})

In [71]:
books_info = books_info.where(pd.notnull(books_info), None)

# Converte a coluna 'terminado_em:' para datetime, com erro sendo convertido para NaT
books_info['terminado_em:'] = pd.to_datetime(books_info['terminado_em:'], errors='coerce')

# Substitui os valores NaT por None na coluna 'terminado_em:'
books_info['terminado_em:'] = books_info['terminado_em:'].apply(lambda x: None if pd.isna(x) else x)

# Verifica o DataFrame resultante
print(books_info)

    skoob                                   titulo    score_/5  \
0     Yes                          O Sol Desvelado        None
1     Yes                     Os Robôs Da Alvorado        None
2     Yes                          Robôs E Império        None
3     Yes                        Loucos Por Livros  ⭐️⭐️⭐️⭐️⭐️
4     Yes               E Foi Assim Que Tudo Mudou    ⭐️⭐️⭐️⭐️
..    ...                                      ...         ...
290    No                      A Hora Do Lobisomen        None
291    No                 Tripulação De Esqueletos        None
292    No                             It - A Coisa        None
293    No                       Os Olhos Do Dragão        None
294    No  Saga Da Torre Negra - Terras Devastadas        None

               editora           autor genero_autor nacionalidade     lingua  \
0                 Alef    Isaac Asimov        Homem         Russo  Portugues
1                 Alef    Isaac Asimov        Homem         Russo  Portugues
2                 Alef    Isaac Asimov        Homem         Russo  Portugues
3                Verus     Emily Henry       Mulher           Usa  Portugues
4    ‎ Astral Cultural  Thais Bergmann       Mulher        Brasil  Portugues
..                 ...             ...          ...           ...        ...
290               Suma    Stephen King        Homem           Usa  Portugues
291               Suma    Stephen King        Homem           Usa  Portugues
292               Suma    Stephen King        Homem           Usa  Portugues
293               Suma    Stephen King        Homem           Usa  Portugues
294               Suma    Stephen King        Homem           Usa  Portugues

    terminado_em:        status  ... ano_compra  formato             genêro  \
0             NaT  Não começado  ...       2023   Fisico  Ficção Cientifica
1             NaT  Não começado  ...       2023   Fisico  Ficção Cientifica
2             NaT  Não começado  ...       2023   Fisico  Ficção Cientifica
3      2023-11-12          Lido  ...       2023   Fisico            Romance
4      2023-11-05          Lido  ...       2023   Fisico            Romance
..            ...           ...  ...        ...      ...                ...
290           NaT  Não começado  ...       None     None               None
291           NaT  Não começado  ...       None     None               None
292           NaT  Não começado  ...       None     None               None
293           NaT  Não começado  ...       None     None               None
294           NaT  Não começado  ...       None     None               None

          nacional  traduzido doar número_de_paginas_total minoria cliche  \
0    Internacional  Traduzido   No                     NaN    None   None
1    Internacional  Traduzido   No                     NaN    None   None
2    Internacional  Traduzido   No                     NaN    None   None
3    Internacional  Traduzido   No                   434.0    None   None
4         Nacional         Na   No                   240.0    None   None
..             ...        ...  ...                     ...     ...    ...
290           None       None   No                     NaN    None   None
291           None       None   No                     NaN    None   None
292           None       None   No                     NaN    None   None
293           None       None   No                     NaN    None   None
294           None       None   No                     NaN    None   None

    ano_terminado
0             NaN
1             NaN
2             NaN
3          2023.0
4          2023.0
..            ...
290           NaN
291           NaN
292           NaN
293           NaN
294           NaN

[295 rows x 27 columns]

In [26]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 53.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [72]:
import mysql.connector

In [81]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# Supondo que 'books_info' é seu DataFrame e já tenha sido carregado

# Substitui NaN por None
books_info = books_info.where(pd.notnull(books_info), None)
books_info.rename(columns={"score_/5": "score"}, inplace=True)
books_info.rename(columns={"terminado_em:": "terminado_em"}, inplace=True)

# Converte a coluna 'terminado_em:' para datetime e trata valores inválidos como NaT
books_info['terminado_em'] = pd.to_datetime(books_info['terminado_em'], errors='coerce')

# Substitui NaT por None na coluna 'terminado_em:'
books_info['terminado_em'] = books_info['terminado_em'].apply(lambda x: None if pd.isna(x) else x.strftime('%Y-%m-%d') if pd.notna(x) else None)

# Conexão com o banco de dados
conn = mysql.connector.connect(
    host="0.tcp.sa.ngrok.io",
    port=14597,
    user="root",
    password=""
)

cursor = conn.cursor()

# Criação da base de dados
cursor.execute("DROP DATABASE IF EXISTS books")
cursor.execute("CREATE DATABASE IF NOT EXISTS books")
cursor.execute("USE books;")

# Criar a tabela com a definição correta dos tipos de dados
# Aqui estamos assumindo que todas as colunas, exceto 'terminado_em:', são strings.
# Ajuste conforme os tipos de dados reais das suas colunas.
colunas = books_info.columns.tolist()
colunas_sql = ', '.join([f"`{col}` VARCHAR(255)" if col != "terminado_em:" else "`terminado_em:` DATE" for col in colunas])

create_table_query = f"CREATE TABLE IF NOT EXISTS livros ({colunas_sql})"
cursor.execute(create_table_query)
conn.commit()

# Preparar os dados para inserção
dados = books_info.values.tolist()

# Consulta SQL para inserir dados, usando placeholders adequados para cada tipo de dado
query = f"INSERT INTO livros ({', '.join(colunas)}) VALUES ({', '.join(['%s'] * len(colunas))})"

# Inserir os dados na tabela
try:
    cursor.executemany(query, dados)
    conn.commit()
    print("Tabela criada e dados inseridos com sucesso!")
except Error as e:
    print("Erro ao inserir dados:", e)

# Fechar o cursor e a conexão
cursor.close()
conn.close()

Tabela criada e dados inseridos com sucesso!